<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Game</title>
</head>

<body>
    <button type="button" onclick="window.location.href='/home'">Back to Home</button>
    <form id="create-game-form" action="/home/createGame" method="POST">
        <h3>Select Number of Rounds:</h3>
        <label>
            <input type="radio" name="totalRounds" value="1" required> 1 Round
        </label><br>
        <label>
            <input type="radio" name="totalRounds" value="3"> 3 Rounds
        </label><br>
        <label>
            <input type="radio" name="totalRounds" value="5"> 5 Rounds
        </label><br><br>

        <h3>Words or Prompts:</h3>
        <label>
            <input type="radio" name="dictionaryType" value="word" required> Words
        </label><br>
        <label>
            <input type="radio" name="dictionaryType" value="prompt"> Prompts
        </label><br><br>
        <button type="submit">Create Game</button>
    </form>
</body>

</html>