<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>
    <h1>Forgot Password</h1>
    <p>Please enter your email</p>
    <hr>
    <form action="/forgotPassword" method="post">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <button type="submit">Send OTP</button>
    </form>
    <script src="/scripts/accounts.js"></script>
</body>

</html>