<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="create-game-form" action="/create" method="POST">
        <h3>Select Number of Rounds:</h3>
        <label>
            <input type="radio" name="rounds" value="1" required> 1 Round
        </label><br>
        <label>
            <input type="radio" name="rounds" value="3"> 3 Rounds
        </label><br>
        <label>
            <input type="radio" name="rounds" value="5"> 5 Rounds
        </label><br><br>
        <button type="submit">Create Game</button>
        <button type="button" onclick="window.location.href='/join'">Join Game</button>
    </form>
</body>

</html>