<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
</head>
<body>
  <form action="/login" method="post">
    <h1>Login</h1>
    <p>Please enter your credentials to login</p>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <a href="/forgotPassword">Forgot Password</a>
  </form>
  <script src="/scripts/accounts.js"></script>
</body>
</html>
