<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <form action="/resetPassword" method="post">
        <h1>Reset Password</h1>
        <p>Please enter a new password</p>
        <hr>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label for="confirmPassword"><b>Confirm Password</b></label>   
        <input type="password" placeholder="Confirm Password" name="confirmPassword" required>

        <button type="submit">Reset Password</button>
    </form>
    <script src="/scripts/accounts.js"></script>
</body>

</html>