<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
</head>

<body>
    <h1>Verify OTP</h1>
    <p>Enter your OTP</p>
    <hr>
    <form action="/verifyOTP" method="post">
        <label for="otp"><b>OTP</b></label>
        <input type="text" placeholder="Enter OTP" name="otp" required>
        <button type="submit">Verify OTP</button>
    </form>
    <script src="/scripts/accounts.js"></script>
    <script>    
        const resendOTPlink = function() {
            const resendOTPBtn = document.createElement('a');
            resendOTPBtn.href = '/resendOTP';
            resendOTPBtn.innerText = 'Resend OTP';
            document.body.appendChild(resendOTPBtn);
        }
        setTimeout(resendOTPlink, 10000); // Resend OTP link will appear after 10 seconds
    </script>
</body>

</html>