<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Room</title>
</head>

<body>
    <h3>Waiting for players to join</h3>
    <p>Game ID: <span id="game-id"></span></p>
    <button id="refresh-btn">Refresh</button>
    <button id="start-game-btn">Start Game</button>
    <ul id="player-list"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/getAllPlayers.js"></script>
    <script src="/scripts/getRole.js"></script>
    <script src="/scripts/startGame.js"></script>
</body>

</html>