<!DOCTYPE html>
<html lang="en">

<head>
    <title>Word Share</title>
    <meta charset="utf-8" />
    <script src="/scripts/displayWord.js"></script>
</head>

<body>
    <h1>Your word is</h1>
    <p id="word"></p>
    <form action="" method="post">
    <div>
        <label for="wordDescription">Describe your word:</label>
        <input type="text" id="wordDescription" name="wordDescription">
    </div>
    <div class="button">
        <button type="sendDescription">Send</button>
    </div>
</form>
</body>

</html>